<%= render partial: 'navbar' %>

<body>
  <div class="row">
    <h2 class='col-12'><%= @discount.name %></h2>
  </div>

  <p>Percentage Discount: <%= @discount.percentage_discount %>%</p><br/>

  <p>Quantity Threshold: <%= @discount.quantity_threshold %></p>

  <strong><%= link_to "Update Discount", edit_merchant_discount_path(@merchant, @discount) %></strong>

</body>
